/* ==========================================================================
   Twelve Column Grid
   ========================================================================== */

.grid_12_of_12 { width: 100%; }
.grid_11_of_12 { width: 91.53%; }
.grid_10_of_12 { width: 83.06%; }
.grid_9_of_12  { width: 74.6%; }
.grid_8_of_12  { width: 66.13%; }
.grid_7_of_12  { width: 57.66%; }
.grid_6_of_12  { width: 49.2%; }
.grid_5_of_12  { width: 40.73%; }
.grid_4_of_12  { width: 32.26%; }
.grid_3_of_12  { width: 23.8%; }
.grid_2_of_12  { width: 15.33%; }
.grid_1_of_12  { width: 6.866%; }

.pure-full-width {
	width:100%;
}
.pure-clear {
	clear:both;
	width:100%;
}

/*--------------------------------------------------------------
## Responsivity
--------------------------------------------------------------*/
.container {
	width:1170px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
	height:100%;
}
.menu-toggle {
display:none!important;
}
.tinynav { display:none; }

ul, ol {
  margin: 0 0 1.5em 0em;
}


/* Defining the width of the entire website */

/* ==========================================================================
   Column & Row Setup
   ========================================================================== */

.col {
	display: block;
	float:left;
	margin: 0 0 0 1.6%;
}

/* Remove the margin on the first column. Works on all browsers incl. IE7+ */
.col:first-child { margin-left: 0!important; }
.col:last-child { margin-right: 0!important; }

.row {
	clear: both;
	margin: 0 auto;
	*zoom: 1;
}

.row:before,
.row:after {
	content: "";
	display: table;
}

.row:after { clear: both; }




/* ==========================================================================
   Actual theme Styling
   ========================================================================== */
body {
	background:#fafafa;
}
a, a:hover, a:visited {
	color:#003D5C;
	text-decoration:none;
}  
   
.top-menubar {
	background:#002233;
	height:30px;
	line-height:30px;
	width:100%;
	display:block;
}
.archive .hentry {
    border-bottom: 1px solid #ddd;
    margin-right: 10px;
    padding: 0px 10px;
}
.top-menubar ul {
	margin:0;
	padding:0;
}
.top-menubar ul li {
	display:inline-block;
	margin-right:10px;
}
.top-menubar a {
	color:white;
	font-size:80%;
	text-decoration:none;
}
.textright {
	text-align:right;
}
.main-navigation {
  line-height: 40px;
  height: 100px;
  padding-top: 28px;
  clear:none;
  text-align:right;
}
.site-branding img {
    margin: 10px 0px;
}
.main-navigation li {
	padding:0 10px;
	border-right:1px solid #ddd;
}
.main-navigation li:last-child {
	border-right:none;
}
.main-navigation a {
	font-size:20px;
}
.header-menubar {
	height:100px;
	border-bottom:1px solid #eee;
	margin-bottom:50px;
	background:white;
}
.header-menubar ul {
	float:right;
}
h1, h2, h3, h4, h5, h6 {
	color:#003D5C;
}
.widget-area aside ul {
	margin:0;
	padding:0 0 0 20px;
}

.widget-area .widget {
	background:white;
	padding:0px 15px 15px 15px;
	margin-bottom:20px;
	border:1px solid #eee;
	overflow:hidden;
}
.content-area {
	background:white;
	padding:15px;
	margin-bottom:20px;
	border:1px solid #eee;
	overflow:hidden;
}
.site-footer {
	background:white;
	padding:15px;
	margin-bottom:20px;
	border:1px solid #eee;
	font-size:80%;
	overflow:hidden;
}
h1.site-title  {
	font-family:Pacifico, sans-serif;
	margin-left:5px;
}
/* ==========================================================================
   Woocommerce Specific Styling
   ========================================================================== */	
.price { 
	overflow: hidden;
}
.price del {
	width:49%;
	float:left;
}
.price ins {
	width:49%;
	float:right;
}
.custom-box {
	margin-bottom:20px;
}	
.featured-product-box ul li {
	width:20%;
	padding:4px!important;
	float:left;
}
.featured-product-box  img {
	width:100%!important;
}
.featured-product-box-after ul li {
	width:20%;
	padding:4px!important;
	float:left;
}
.featured-product-box-after  img {
	width:100%!important;
}
.feat-prods .textwidget {
	text-align:center;
}
.feat-prods-after .textwidget {
	text-align:center;
}
#front-box .feat-prods {
	background:white;
	padding:0px 15px 15px 15px;
	margin-bottom:20px;
	border:1px solid #eee;
	overflow:hidden;
}
#front-box-after .feat-prods-after {
	background:white;
	padding:0px 15px 15px 15px;
	margin-bottom:20px;
	border:1px solid #eee;
	overflow:hidden;	
}
.woocommerce #respond input#submit.alt,.woocommerce a.button.alt,.woocommerce button.button.alt,.woocommerce input.button.alt {
	background-color:#003D5C;
}
.woocommerce #respond input#submit.alt:hover,.woocommerce a.button.alt:hover,.woocommerce button.button.alt:hover,.woocommerce input.button.alt:hover {
	background-color:#002233;
}
.woocommerce-message{border-top:3px solid #003D5C;}
.woocommerce input.button.alt{background-color:#003D5C;}
.woocommerce input.button.alt:disabled[disabled]:hover{background-color:#003D5C;}
.widget_search {
	padding:15px!important;
}
/*  Standard Layout: Following the width of the .container style */
@media only screen and (min-width: 992px) and (max-width: 9999px) {
	.content-area{width:70%;padding:0;float:right;display:inline;}
	.widget-area{width:25%;padding:0;float:left;display:inline;}
	.site-footer{width:100%;padding:0;}
	.slicknav_menu { display:none; }
}
/*  Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.hfeed{}
	.site-header{width:100%;padding:0 10%;}
	.site-main{width:100%;padding:0;overflow:auto;}
	.content-area{width:63%;padding:0;float:right;display:inline;}
	.widget-area{width:35%;padding:0;float:left;display:inline;}
	.site-footer{width:100%;padding:0;}
	.tinynav { display:block; }
	.site-description { display:none; }
	.slicknav_menu { display:none; }
}
/*  Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
	.hfeed{width:100%;padding:0%;}
	.site-header{width:100%;padding:0;}
	.site-main{width:100%;padding:0;}
	.content-area{width:100%;padding:0;}
	.widget-area{width:100%;padding:0;}
	.site-footer{width:100%;padding:0;}
	.tinynav { display:block; }
	.site-description { display:none; }
	.grid_12_of_12 { width: 100%; }
	.grid_11_of_12 { width: 100%; }
	.grid_10_of_12 { width: 100%; }
	.grid_9_of_12  { width: 100%; }
	.grid_8_of_12  { width: 100%; }
	.grid_7_of_12  { width: 100%; }
	.grid_6_of_12  { width: 100%; }
	.grid_5_of_12  { width: 100%; }
	.grid_4_of_12  { width: 100%; }
	.grid_3_of_12  { width: 100%; }
	.grid_2_of_12  { width: 100%; }
	.grid_1_of_12  { width: 100%; }
	.container { width:100%;padding:0 10px;}
	.featured-product-box ul li {display:none;width:100%!important;}
	.featured-product-box ul li:first-child {display:block;}
	.featured-product-box-after ul li {display:none;width:100%!important;}
	.featured-product-box-after ul li:first-child {display:block;}
	.header-menubar { margin-bottom:0px!important;height:auto; }
	.main-navigation { height:auto; padding-top:0px;}
	h1.site-title { float: left; margin-top: 10px; padding: 0; }
	.site-branding { width: 84%; float: left;}
	.main-navigation { width: 11%; padding: 0; float: right; margin: 10px 0 0 0; }
	.slicknav_menu { background-color:transparent; display:block;}
	.slicknav_nav { position: absolute; overflow: visible; width: 100%; left: 0; top: 100px; z-index: 99999; }
	.slicknav_nav li { display: block; background-color: black; width: 100%; }
}
/*  Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.hfeed{width:100%;padding:0%;}
	.site-header{width:100%;padding:0;}
	.site-main{width:100%;padding:0;}
	.content-area{width:100%;padding:0;}
	.widget-area{width:100%;padding:0;}
	.site-footer{width:100%;padding:0;}
	.tinynav { display:block; }
	.site-description { display:none; }
	.grid_12_of_12 { width: 100%; }
	.grid_11_of_12 { width: 100%; }
	.grid_10_of_12 { width: 100%; }
	.grid_9_of_12  { width: 100%; }
	.grid_8_of_12  { width: 100%; }
	.grid_7_of_12  { width: 100%; }
	.grid_6_of_12  { width: 100%; }
	.grid_5_of_12  { width: 100%; }
	.grid_4_of_12  { width: 100%; }
	.grid_3_of_12  { width: 100%; }
	.grid_2_of_12  { width: 100%; }
	.grid_1_of_12  { width: 100%; }
	.container { width:100%;padding:0 10px; }
	.featured-product-box ul li {display:none;width:100%!important;}
	.featured-product-box ul li:first-child {display:block;}
	.featured-product-box-after ul li {display:none;width:100%!important;}
	.featured-product-box-after ul li:first-child {display:block;}
	.header-menubar { margin-bottom:0px!important;height:auto; }
	.main-navigation { height:auto; padding-top:0px;}
	h1.site-title { float: left; margin-top: 10px; padding: 0; }
	.site-branding { width: 84%; float: left;}
	.main-navigation { width: 11%; padding: 0; float: right; margin: 10px 0 0 0; }
	.slicknav_menu { background-color:transparent; display:block;}
	.slicknav_nav { position: absolute; overflow: visible; width: 100%; left: 0; top: 100px; z-index: 99999; }
		.slicknav_nav li { display: block; background-color: black; width: 100%; }
